on: [push]
jobs:
  has_changed_job:
    runs-on: ubuntu-latest
    name: A job to check for changes
    steps:
      - name: Has changed action step
        id: changed
        uses: enahsor/has-changed@v1.1.0.9
        with:
          services: "./"
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Get the output time
        run: echo "The time was ${{steps.changed.outputs.time}}"
